<!-- This is what we will use to show a list of messages belonging to the ticket-->

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
<!--      Gravatar will go in place of image -->
    </div>
    <div class="col-md-8">
      <% @comments.each do |m| %>
      <div class="card-header">
<!--        <span> # Tech assigned will display here</span>-->
        <span><%= "User: #{m.user.display_name}" %></span>
      </div>
      <div class="card-body">
            <p class="card-text"><%= m.body %></p>
        <p class="card-text"><small class="text-muted"><%="Last updated #{m.created_at}" %></small></p>
        <p><%= link_to 'Edit', edit_comment_path(m.id) %></p>
        <p><%= button_to 'Destroy', m , method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

      </div>
    </div>
  </div>
</div>


<br>

<button type="button" class="m-1 btn btn-warning">
  <%= render 'comments/form' %>

</button>
