
<p>
  <strong>Created at:</strong>
  <%= @comment.created_at %>
</p>

<!--We should replace user id with username-->

<p>
  <strong>Username:</strong>
  <%= @ticket.username %>
</p>

<p>
<strong>Comment Body</strong>
<%= @comment.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.username %>
</p>


<%= link_to 'Back', tickets_path %>
