
<h1>Home#index</h1>


<body>

<% if current_user %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign In', new_user_session_path %>
<% end %>
<%= render 'layouts/alerts' %>

<%= link_to 'Tickets', tickets_path %>

</body>