<p>
  <strong>Ticket:</strong>
  <%= @ticket.ticket_number%>
</p>

<p>
  <strong>Subject:</strong>
  <%= @ticket.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
<strong>Ticket Comment</strong>
#Comments will go here
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
